:host {
  // background-color: var(--gray-light);
}

.create-auction-wrapper {
  background-color: var(--gray-light);
}

.auction-form .card {
  background-color: var(--polaris-gray-100);
  border: 1px solid var(--gray-border);
}
.container-fluid {
  background-color: var(--blue-light);
}

.lanes-selection-wrap {
  ::ng-deep .mat-mdc-select-value {
    width: 25px !important;
  }
  polaris-select {
    width: 65px;
  }
}

::ng-deep .primary-country-btn {
  background-color: var(--polaris-primary) !important;
  color: var(--polaris-gray-100) !important;
  border-color: var(--polaris-primary) !important;
}

.auction-start-time ::ng-deep .mat-mdc-form-field-infix {
  min-width: auto !important;
}
