:host {
  background-color: #f8f9fa;
}

.auction-form {
  .card {
    background-color: var(--polaris-gray-100);
    border: 1px solid #dee2e6;
  }
}
.container-fluid {
  background-color: #e3eff9;
}

.lanes-selection-wrap {
  & ::ng-deep .mat-mdc-select-value {
    width: 25px !important;
  }

  polaris-select {
    display: block;
    width: 65px;
  }
}

::ng-deep.primary-country-btn {
  background-color: var(--polaris-primary) !important;
  color: var(--polaris-gray-100) !important;
  border-color: var(--polaris-primary) !important;
}

.auction-start-time {
  ::ng-deep .mat-mdc-form-field-infix {
    min-width: auto !important;
  }
}

// --------------- Responsive Styles ---------------

@media (max-width: 480px) {
  .apply-auction-rules-wrap {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .apply-auction-rules-wrap label {
    text-align: left;
    width: 100%;
  }
  .auction-select {
    width: 100%;
    padding-left: 0;
  }
  polaris-select {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .lanes-selection-wrap {
    ::ng-deep .mat-mdc-form-field-infix {
      min-width: auto !important;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 915px) {
  .apply-auction-rules-wrap {
    display: block !important;
  }
}
