@use '../variables/base-variables' as app;
@use '../vendor/functions' as functions;

// All-caps `RGBA()` function used because of this Sass bug: https://github.com/sass/node-sass/issues/2251
@each $color, $value in app.$theme-colors {
  .link-#{$color} {
    color: RGBA(var(--#{app.$prefix}#{$color}-rgb), var(--#{app.$prefix}link-opacity, 1)) if(app.$enable-important-utilities, !important, null);
    text-decoration-color: RGBA(var(--#{app.$prefix}#{$color}-rgb), var(--#{app.$prefix}link-underline-opacity, 1)) if(app.$enable-important-utilities, !important, null);

    @if app.$link-shade-percentage != 0 {
      &:hover,
      &:focus {
        $hover-color: if(functions.color-contrast($value) == app.$color-contrast-light, functions.shade-color($value, app.$link-shade-percentage), functions.tint-color($value, app.$link-shade-percentage));
        color: RGBA(#{functions.to-rgb($hover-color)}, var(--#{app.$prefix}link-opacity, 1)) if(app.$enable-important-utilities, !important, null);
        text-decoration-color: RGBA(functions.to-rgb($hover-color), var(--#{app.$prefix}link-underline-opacity, 1)) if(app.$enable-important-utilities, !important, null);
      }
    }
  }
}

// One-off special link helper as a bridge until v6
.link-body-emphasis {
  color: RGBA(var(--#{app.$prefix}emphasis-color-rgb), var(--#{app.$prefix}link-opacity, 1)) if(app.$enable-important-utilities, !important, null);
  text-decoration-color: RGBA(var(--#{app.$prefix}emphasis-color-rgb), var(--#{app.$prefix}link-underline-opacity, 1)) if(app.$enable-important-utilities, !important, null);

  @if app.$link-shade-percentage != 0 {
    &:hover,
    &:focus {
      color: RGBA(var(--#{app.$prefix}emphasis-color-rgb), var(--#{app.$prefix}link-opacity, .75)) if(app.$enable-important-utilities, !important, null);
      text-decoration-color: RGBA(var(--#{app.$prefix}emphasis-color-rgb), var(--#{app.$prefix}link-underline-opacity, .75)) if(app.$enable-important-utilities, !important, null);
    }
  }
}
