@use '../variables/base-variables' as app;
@use '../vendor/functions' as functions;

// All-caps `RGBA()` function used because of this Sass bug: https://github.com/sass/node-sass/issues/2251
@each $color, $value in app.$theme-colors {
  .text-bg-#{$color} {
    color: functions.color-contrast($value) if(app.$enable-important-utilities, !important, null);
    background-color: RGBA(var(--#{app.$prefix}#{$color}-rgb), var(--#{app.$prefix}bg-opacity, 1)) if(app.$enable-important-utilities, !important, null);
  }
}
