# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.angular

*.svg
*.template

.vscode
dist
e2e
node_modules

.prettierignore
.prettierrc.yaml
package-lock.json
