@use 'sass:list';
@use '../variables/base-variables' as app;

// stylelint-disable property-disallowed-list
@mixin transition($transition...) {
  @if length($transition) == 0 {
    $transition: app.$transition-base;
  }

  @if length($transition) > 1 {
    @each $value in $transition {
      @if $value == null or $value == none {
        @warn "The keyword 'none' or 'null' must be used as a single argument.";
      }
    }
  }

  @if app.$enable-transitions {
    @if list.nth($transition, 1) != null {
      transition: $transition;
    }

    @if app.$enable-reduced-motion and list.nth($transition, 1) != null and list.nth($transition, 1) != none {
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }
  }
}
