@use '../../../../../packages/dealer-portal-theme/src/themes/polaris-base-theme/mixins/breakpoints' as breakpoints;

.communications-administration-wrapper {
  background-color: var(--polaris-white);
  min-height: 100dvh;
  padding: 1.5rem 1.25rem;
}

.communications-listing {
  &-header {
    border-bottom: var(--polaris-border-width) var(--polaris-border-style) var(--polaris-border-color);

    &-link {
      color: var(--polaris-link-color);
      cursor: pointer;
    }
  }

  &-table {
    &-title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      overflow: hidden;
      max-width: 25ch;
      white-space: normal;

      @include breakpoints.media-breakpoint-up(lg) {
        max-width: 40ch;
      }
    }

    &-created-on {
      line-height: 1rem;
    }
  }
}
