@use '@angular/material' as mat;

:host {

  // Polaris Connect vars
  $polaris-connect-transition: all 250ms cubic-bezier(0, 0, 0.2, 1) !default;

  .video-listing {
    background: var(--polaris-white);
    transition: $polaris-connect-transition;

    .video-listing-thumbnail {
      transition: $polaris-connect-transition;

      .video-cover {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: var(--theme-primary-500);
        opacity: 0.75;

        polaris-icon {
          transform: scale(1.5);
        }
      }

      .video-duration {
        bottom: 0.55rem;
        right: 0.35rem;
      }
    }

    &:hover,
    &.active {
      cursor: pointer;
      background: var(--polaris-gray-200);

      .video-listing-thumbnail {
        @include mat.elevation(8);
      }
    }
  }
}
