/* You can add global styles to this file, and also import other style files */
:root {
  --gray-light: #f8f9fa; /* Background light */
  --gray-border: #dee2e6; /* Border light */
  --blue-light: #e3eff9; /* Background blue light */
}
