@use '../../../../../packages/dealer-portal-theme/src/themes/polaris-base-theme/mixins/breakpoints' as breakpoints;

.sales-account {
  &-header {
    border-bottom: var(--polaris-border-width) var(--polaris-border-style) var(--polaris-border-color);

    &-link {
      color: var(--polaris-link-color);
      align-items: flex-end;
      cursor: pointer;
    }
  }
}

.search-term {
  &-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    > * {
      margin-bottom: 1rem;
      min-width: 20.0rem;
    }
  }
}

@include breakpoints.media-breakpoint-down(md) {
  .search-term {
    &-row {
      > * {
          width: 100% !important;
      }
    }
  }
}
